.container {
  width: 1000px;
  margin: 0 auto;
}

.box {
  height: 150px;
}


header {
  background: red;
}

main {
  background: yellow;
   float: left ;
   width: 50%; ;
}

aside {
  background: green;
    float: right;
    width: 50%;
}

footer {
  background: blue;
}

.clear {
   clear: both;
}


