/*@import url(https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet')*/


body {
height: 100%;
width: 100%;
margin: 0;
padding: 0px;
color: black;
}

h1{
  font-family: courier;
  color:#004036;
}

.celc {
  background-color: #00FFEF;
  height: 200px;
  width:200px;
  display: inline-block;
}

.fahren {
  background-color: #067F78;
  height: 200px;
  width: 200px;
  display: inline-block;
}

#c {
  margin-bottom: 20px;
}
#f {
  margin-bottom: 20px;
}



