* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding-top: 50px;
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
}

header {
  background: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
    display: inline-block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

header a:hover {
  color: #4dbd4d;
}
#mainContent {
  border: 1px solid blue;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#plannerBox {
  width: 350px;


}
#inputBox {
  padding: 20px;
  box-sizing: border-box;
}
#inputBox label {
  margin: 10px 0 0 0;
  color: #cccccc;
  text-align: left;
  width: 100%;
  display: block;
}
#inputBox input {
  padding: 9px;
  border: none;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
  width: 100%;
  margin: 10px 0;
}
#inputBox button {
  background-color: #4dbd4d;
  padding: 15px 30px;
  margin: 10px 0;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: background-color 150ms;
}

#inputBox button:hover {
  background-color: #2d8f2d;
}

#detailBox {
  background-color: #efefef;
  height: 200px;

}

#detailBox img {
  width: 100%;

}
#mapBox {
border: 1px solid green;
}
h1 {
  text-align: left;
  margin-left: 15px;
}

h2{
  letter-spacing: .2em;
  font-size: 84px;
  font-weight: 200;
  margin-top: -4%;
  padding-top: 5%

}
.boxed {
  height: 40vw;
  width: 60vh;
  background-color: #FDFDFD;
  padding: 40px;
  margin: 60px auto;
  box-shadow: 0 0 1em #c7c0c0;
  display:
}
/*width: 100%;
  width: 900px;
  background-color: #FDFDFD;
  padding: 40px;
  margin: 60px auto;
  box-shadow: 0 0 1em #c7c0c0;*/

.scrolled {
  background: red;
  font-size: 30px;
  color: white;
}

.section {
  height: 1000px;
}

h1 {
  text-align: center;
}

#section0 {
  height:800px;
  background-image:;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 10%;
/*  padding-bottom: 50%;
  margin: 0 auto;*/
}
#section1 {
  height:400px;
  background: #95e195;
}

#section2 {
  height:1000px;
  background: #E0E0E0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 80%;
  width: 80%;
  margin: 0 auto;
}

.pageTitle{
  text-align: center;
  font-size: 50px;
  font-family: "ABeeZee", sans-serif;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 60px;

}
.content {
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
  width: 800px;
  padding: 40px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.paragraph {
   font-family: "ABeeZee", sans-serif;
    font-size: 16px;
    line-height: 24px;
    width: 800px;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
}

/*<!-- Contact form-->*/

.button {
    /* To position the buttons to the same position of the text fields */
    padding-left: 90px; /* same size as the label elements */
}
button {
    margin-left: .5em;
}
/*new code to add*/
#About {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.link_wrapper{
  height: 50px;
  width: 100%;
}
.relative {
position: relative;
}
header {
  z-index: 1;
}