* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding-top: 50px;
}

/*.navigation {
  display: inline-block;
  text-decoration: none;
  color: white;
}*/

header {
  background: #333;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
    display: inline-block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;

}

header a:hover {
  color: #46f0ec;
}

h1 {
  text-align: left;
  margin-left: 10px;
}

.form {
  margin: 200px;
  height:200px;
  font-size:20pt;
}
.button {
 margin: 20px;
}




.scrolled {
  background: red;
  font-size: 30px;
  color: white;
}