#container {
  text-align: center;
  background-color: rgb(222,222,222);
  width: 75%;
  border:10px;
  padding: 10px;
  margin: 0 auto;
}
#nav {
  text-align: center;
  background-color: black;
  text-decoration: none;
  text-decoration: white;
  text-decoration color: white;
}
#one{

  background-color: coral;
  color: purple;
  }

#two{

  background-color: coral;
  color: green;
}
#three{

  background-color: coral;
  color: yellow;
}